.bigtext {
height: 200%;
}
.redtext {
	color: red;
}
.greentext{
	color: green;
}
.redbigtext{
	color: red;
	height: 200%;
}
.yellowtext{
	color: yellow;
}
.limetext{
	color: lime;
}
.border{
	border: solid, black 1px;
}
.blacktext{
	color: black;
}
.bluetext{
	color: blue;
}
.greenbigtext{
	color: green;
height:200% ;
}
